<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="jumbotron">
        <h1 class="display-4">Hello, world!</h1>
        <p class="lead">This is a simple angular application built with love and passion to learn the best practices for this framework and get the highest master-giga-mega-degree in Plovdiv's University.</p>
        <hr class="my-4">
        <h2>Requirements</h2>
        <p>Project is based on <a href="https://github.com/toshetoo/ng-task-manager/blob/master/course-work.txt" target="_blank" rel="noopener">this</a> document</p>
      </div>
    </div>
  </div>
</div>
